src/main/mule/umg-test-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c9487610-eef0-481c-b1fc-ce122d64f949" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="umg-test-apiFlow" doc:id="f10a2fee-9ca6-4b1a-a3be-d70f0ad0a3c0" >
		<http:listener doc:name="Listener" doc:id="0cda2ac7-e380-4abc-9f31-4a04a32e0d35" config-ref="HTTP_Listener_config" path="/"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="774b6abe-1d5f-444f-9593-12da0e9aee7c" />
	</flow>
</mule>
